/***********************************/
/*********** Font styles ***********/
/***********************************/

@font-face{
	font-family: 'Cairo';
	src: url('../fonts/Cairo-Bold.ttf') format('truetype');
}

@font-face{
	font-family: 'proxima-nova';
	src: url('../fonts/proximanova-regular.otf') format('opentype');
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Cairo", Helvetica, sans-serif;
}

body {
	font-size: 1.03rem;
	line-height: 1.5;
}

/* Formats keyboard shortcuts */
.keyboard {
	text-transform: uppercase;
	background-color: #E1E0E0;
	border: 2px solid #FFFFFF;
	box-shadow: 1px 1px 3px grey;
	padding: 3px 5px 0 5px;
	display: inline-block;
	line-height: 1rem;
}

/***********************************/
/********* Sidebar styles **********/
/***********************************/
/* Hides the sub-menu item if parent not active */
.dd-item .dd-item ul li {
    display: none;
}

.dd-item .dd-item.active ul li,
.dd-item.parent > ul > li {
    display: block;
}

/* Hides the sub-sub-menu menu-item if parent not active */
.dd-item.parent > ul > li.dd-item.active > ul > li > ul > li {
    display: none;
}

.dd-item.parent > ul > li.dd-item.active > ul > li {
    display: block;
}

/* Change headings in TOC to upppercase */
#sidebar ul.topics > li > a {
	 text-transform: uppercase;
}

/* Change color of TOC backgrounds */
#header {
	background: #00B4EF;
}

#sidebar {
	background: #3A3F3E;
}

#sidebar ul.topics > li.parent, #sidebar ul.topics > li.active {
	background: #3A3F3E;
}

/***********************************/
/********** List styles ************/
/***********************************/
ol, ul {
	margin-top: -10px;
}

ol ul, ul ul, ol ol, ul ol {
	padding-top: 5px;
}

li {
	padding-bottom: 5px;
}

/***********************************/
/********** Table styles ***********/
/***********************************/
table {
	border: solid #c7cccb 1px;
	margin: auto;
	width: 90%;
}

th {
	background: #e2e4e4 ;
}

td {
	border: solid #c7cccb 1px;
}

li table {
    padding-bottom: 200px;
}

/***********************************/
/******** Headings styles **********/
/***********************************/
h2 {
	border-top: solid #c7cccb 1px;
	padding-top: 10px;
}

h3 {
	font-size: 28px;
}

h4 {
	font-size: 20px;
}

h5 {
	font-size: 16px;
}

/***********************************/
/****** Breadcrumbs styles *********/
/***********************************/
#breadcrumbs {
	font-size: 14px;
}

#top-bar {
	background: none;
}

/***********************************/
/********* Search styles ***********/
/***********************************/
form {
	margin-top: 20px;
}

input {
	color: #3A3F3E;
}

